.DS_Store
.env
.env.*
.idea
.agents
.codex
.claude
skills-lock.json
.output
addon
*.log
/.vscode/
/docs/.vitepress/cache
coverage
dist
package
node_modules
TODOs.md
stats.html
.tool-versions
.cache
/tests/integration/**/.adnbn/
*-stats.txt
.npmrc
